@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1920px;
  margin: 10px 100px;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

a {
  text-decoration: none;
}

#logo a {
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 1.6px;
  color: #000;
}

.main-btn {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  padding: 10px 15px;
  display: inline;
  transition: 0.3s;
}

.title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.desc {
  font-size: 16px;
  max-width: 600px;
  text-align: center;
  padding: 30px 0;
  margin: 0 auto;
  font-weight: 400;
}

.main-btn:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.navbar ul,
.navbar ul a {
  list-style: none;
  color: #000;
}

.navbar li {
  padding: 0 15px;
}

li:hover {
  text-decoration: underline;
}

.hero {
  background-repeat: no-repeat;
  background-position: right;
  background-color: #f0f8ff;
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 50px 100px;
  padding: 50px 0;
}

.hero__title {
  margin: 30px 0;
  font-size: 80px;
  font-weight: 900;
  line-height: 140px;
}

.hero__desc {
  margin: 70px 0;
  max-width: 700px;
}

.hero__img img {
  border-radius: 40px;
}

.offer__title {
  margin: 100px 0;
}

.offer__blocks {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 100px 0;
  text-align: center;
  flex-wrap: wrap;
}

.offer__block {
  box-shadow: 5px 10px 10px #000;
  max-width: 300px;
  padding: 20px;
  transition: 0.3s;
}

.offer__block:hover {
  transform: translate(0, 10px);
}

.offer__block img {
  max-width: 100px;
}

.offer__block p,
.offer__block h3 {
  padding: 10px 0;
}

.offer__block a {
  color: #000;
}

.offer__block a:hover {
  text-decoration: underline;
}

.support__wrapper {
  margin: 100px auto;
  max-width: 700px;
}

.support__label {
  display: flex;
  gap: 50px;
  box-shadow: 0 5px 5px #000;
  padding: 10px 70px;
}

.support__label img {
  max-width: 120px;
}

footer {
  background-color: #f0f8ff;
}

.footer__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 100px;
}

.footer__wrapper img {
  max-width: 200px;
}

.footer__col ul {
  list-style: none;
}

.footer__col a {
  color: #000;
}

.policy {
  margin: 100px 100px;
}

.policy h1 {
  text-align: center;
}

.policy p,
.policy h2 {
  margin: 30px 0;
}

.about {
  display: flex;
  gap: 40px;
  margin: 50px 0;
}

.about__text {
  max-width: 50%;
}
.about--width {
  margin: 50px 0;
}

.about--width p {
  margin: 15px 0;
}

.about__text p {
  margin: 15px 0;
}

.services__hero {
  max-width: 900px;
  margin: 0 auto;
}

.services__hero img {
  border-bottom: 10px #000 solid;
  border-radius: 10px 10px 10px 10px;
}

.serivces__title {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  margin: 50px 0;
}
.serivces__text p {
  margin: 15px 0;
}

.services__table {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.services__table p {
  font-size: 16px;
  font-weight: 400;
  margin: 50px 0;
}

table {
  background-color: #f0f8ff;
  border: 1px solid #000;
  min-width: 900px;
}
th {
  text-align: center;
  padding: 20px;
  border: 1px solid #000;
}

td {
  border: 1px solid #000;
  padding-left: 20px;
}
tr:nth-child(even) {
  background-color: #fff;
}

tr:hover {
  background-color: #000;
  color: #fff;
  transition: 0ms;
}

.glide__slide img {
  max-width: 900px;
  max-height: 350px;
}

.projects__title {
  font-size: 32px;
  font-weight: 900;
  margin: 50px 0;
  text-align: center;
}

.projects__content {
  margin-bottom: 100px;
}

.projects__content .parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 1400px;
}
.projects__content img {
  max-width: 100%;
  height: 100%;
}

.div1 {
  grid-area: 1 / 1 / 3 / 3;
}
.div2 {
  grid-area: 1 / 3 / 4 / 6;
}
.div3 {
  grid-area: 3 / 1 / 6 / 3;
}
.div4 {
  grid-area: 4 / 3 / 6 / 6;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #000;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact {
  display: flex;
  gap: 50px;
  background-image: url("https://images.unsplash.com/photo-1520923642038-b4259acecbd7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1119&q=80git");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  background-position: center;
  color: #fff;
  padding: 30px;
  margin-bottom: 50px;
}

.contact .contact__opa {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 80px 100px;
  margin-bottom: 100px;
}

.contact h2 {
  font-size: 42px;
  margin: 30px 0;
  font-weight: 900;
}
.contact p {
  font-size: 16px;
  max-width: 300px;
}

.contact .con_link {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 800px) {
  nav {
    position: fixed;
    width: 100%;
    top: 0;
    background: #fff;
    z-index: 9999;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

@media (max-width: 1175px) {
  .hero__wrapper {
    flex-direction: column;
  }
  .hero__img {
    margin: 40px auto;
    max-width: 400px;
  }
  .hero__title,
  .hero__desc {
    text-align: center;
    max-width: 100%;
  }
}

@media (max-width: 800px) {
  .hero__title {
    font-size: 30px;
    line-height: 42px;
  }
  .hero__desc {
    margin: 20px 0;
    margin-bottom: 40px;
  }
  .main-btn {
    display: flex;
    justify-content: center;
  }
  .support__label {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
  }
  .container {
    margin: 10px 20px;
  }
  .navbar ul {
    padding: 0;
  }
  .about {
    flex-direction: column;
    margin: 95px 0;
  }
  .about__text {
    min-width: 100%;
  }
  .services,
  .contact {
    margin: 95px 0;
  }
  .glide__slide img {
    max-height: 180px;
  }
  .parent {
    display: flex !important;
    flex-direction: column;
    height: auto !important;
  }
  .contact__opa,
  .contact {
    max-width: 100%;
    padding: 0;
  }
  .contact .title {
    font-size: 24px;
  }
  .contact__opa {
    margin-bottom: 0 !important;
  }
}
